# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
.venv/
.env/

# Ignore environment variables file
.env

# Ignore IDE/editor-specific files
.vscode/
.idea/